{% extends 'base.html.twig' %}

{% block title %}Edit ArticleCommande{% endblock %}

{% block body %}
    <h1>Edit ArticleCommande</h1>

    {{ include('article_commande/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('article_commande_index') }}">back to list</a>

    {{ include('article_commande/_delete_form.html.twig') }}
{% endblock %}
