<form method="post" action="{{ path('administrateur_delete', {'idadmin': administrateur.idadmin}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ administrateur.idadmin) }}">
    <button class="btn">Delete</button>
</form>
